<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title row">
      <h1 class="col-md-10">New Order</h1>
      <div class="col-md-2">
        <%= link_to "Back", :back, class: "btn btn-success" %>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <%= simple_form_for(@order, :html => {:class => "form"}) do |f| %>
      <% if @order.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

          <ul>
          <% @order.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <% if @order.new_record? %>
        <%= f.hidden_field :status, value: "new" %>
      <% else %>
        <div class="form-group">
          <%= f.input :status, collection: ['new', 'approved', 'printing', 'shipped' ], include_blank: false %>
        </div>
        <div class="form-group">
          <%= f.input :tracking %>
        </div>
        <div class="form-group">
          <%= f.input :ship_vendor, collection: ['', 'ups', 'fedex', 'usps' ], include_blank: false  %>
        </div>
        <div class="form-group">
          <%= f.input :ship_cost %>
        </div>
      <% end %>
      <% if @order.new_record? %>
        <div class="form-group">
          <%= f.label :date, "Desired in-hands date?" %></div>
          <%= f.text_field :date, class: 'datepicker' %> 

          <script type="text/javascript">
            $(function() {
              $('.datepicker').datepicker();
            });
          </script>
        </div>
      <% else %>
        <% if can? :update, Order %>
          <div class="form-group">
            <%= f.label :date, "Desired in-hands date?" %>
            <%= f.text_field :date, class: 'datepicker' %> 

            <script type="text/javascript">
              $(function() {
                $('.datepicker').datepicker();
              });
            </script>
          </div>
        <% end %>
      <% end %>
      <% if current_user.role == 'operator' %>
        <div class="form-group">
          <%= f.input :address_id do %>
            <%= f.select :address_id, Address.where(user_id: current_user).map {|x| [x.address_name, x.id] }, {}, class: "form-control form-control-lg", style: "width: 50%; margin-left: 1%" %>
          <% end %>
        </div>
      <% elsif current_user.role == 'admin' %>
        <%= f.select :address_id, Address.all.map {|x| [x.address_name, x.id] }, {}, class: "form-control form-control-lg", style: "width: 50%; margin-left: 1%" %>
      <% end %>
      <ol>
        <li><a href="https://docs.google.com/spreadsheets/d/1PNwqfZvXkEw4AqROKgTKhBNhTMBW6KoopW034X8pMaI/copy" target="_blank">Click here for example spreadsheet</a></li>
        <li>Fill out your roster</li>
        <li>Copy the editable link</li>
        <li>Paste URL below</li>
      </ol>
      <div class="form-group">
        <%= f.input :spreadsheet_link, class: "form-control", style: "width: 50%" %>
      </div>
      <% if current_user.role == 'admin' %>
        <%= f.input :user_id do %>
          <%= f.select :user_id, User.all.map {|x| [x.email, x.id] }, {}, class: "form-control form-control-lg", style: "width: 50%; margin-left: 1%" %>
        <% end %>
      <% end %>
      <div class="form-group">
        <%= f.input :entity, as: :select, collection: Order::BIA_ENTITIES %>
      </div>
      <div class="form-group">
        <%= f.input :invoiced %>
      </div>
      <div class="form-group">
        <%= f.submit class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
