<% if @order.line_items.exists? %>
  <div class="row">
    <div class="col-sm-4">
      <h4>Daniel Hatcher</h4>
      <%= @order.user.email %>
      <h6>3303 W. Paul Ave</h6>
      <h6>Tampa, Fl 33611</h6>
      <h6>813.335.0330</h6>
      <%= @order.tracking %>
      <%= @order.ship_vendor %>
    </div>
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
      <%= link_to 'Edit Order', edit_order_path(@order), class: 'btn btn-lg btn-block btn-success' %>
    </div>
  </div>
  <div class="row order-highlight">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-header bg-primary center">
          <h4>Order #</h4>
        </div>
        <div class="card-body">
          <p class="card-text">
            <h1 class="center"><%= @order.id %></h1>
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-header bg-primary center">
          <h4>Status</h4>
        </div>
        <div class="card-body">
          <p class="card-text">
            <h1 class="center"><%= @order.status.upcase %></h1>
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-header bg-primary center">
          <h4>Due Date</h4>
        </div>
        <div class="card-body">
          <p class="card-text">
            <h1 class="center"><%= @order.date %></h1>
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-header bg-primary center">
          <h4>Shirt Count</h4>
        </div>
        <div class="card-body">
          <p class="card-text">
            <h1 class="center"><%= @order.line_items.count %></h1>
          </p>
        </div>
      </div>
    </div>
  </div>
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr class="bg-primary center">
        <th scope="col">League</th>
        <th scope="col">Team</th>
        <th scope="col">Division</th>
        <th scope="col">Shirt Color</th>
        <th scope="col">Ink Color</th>
        <th scope="col">Size</th>
        <th scope="col">Quantity</th>
      </tr>
    </thead>
    <tbody>
      <% for line_item in @order.line_items %>
        <tr>
          <td scope="row" class="center"><%= line_item.league %></td>
          <td scope="row" class="center"><%= line_item.team %></td>
          <td scope="row" class="center"><%= line_item.division %></td>
          <td scope="row" class="center"><%= line_item.shirtcolor %></td>
          <td scope="row" class="center"><%= line_item.inkcolor %></td>
          <td scope="row" class="center"><%= line_item.shirtsize %></td>
          <td scope="row" class="center"><%= line_item.quantity %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="jumbotron">
    <h2>Upload roster</h2>
    <ol>
      <li><a href="https://docs.google.com/spreadsheets/d/1PNwqfZvXkEw4AqROKgTKhBNhTMBW6KoopW034X8pMaI/edit?usp=sharing" target="_blank">Click here for example spreadsheet</a></li>
      <li>File -> Make copy</li>
      <li>Fill out your roster</li>
      <li>File -> download Comma seperated value (CSV)</li>
      <li>Upload that file below</li>
    </ol>
    <br>
    <%= form_tag import_line_items_path, multipart: true, class: 'center' do %>
      <%= hidden_field_tag :order_id, params[:id] %>
      <%= file_field_tag :file, style: 'margin: auto', class: 'btn btn-default btn-lg' %>
      <br>
      <%= submit_tag "Import Spreadsheet", class: 'btn btn-primary btn-lg' %>
    <% end %>
  </div>
<% end %>

