<% if @order.line_items.exists? %>
  <div class="row">
    <div class="card">
      <div class="row card-header">
        <div class="col-md-4"><h3>Order #<%= @order.id %></h3></div>
        <div class="col-md-7"></div>
        <div class="col-md-1">
          <% if can? :update, Order %>
            <div class="dropdown">
              <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Actions
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <%= link_to 'Edit Order', edit_order_path(@order), class: 'dropdown-item' %>
                <%= link_to 'Destroy', @order, method: :delete, data: { confirm: 'Are you sure?' }, class: 'dropdown-item' %>
                <%= link_to 'Box label', 'box_label', class: 'dropdown-item', data: { toggle: 'modal', target: '#exampleModal' } %> 
                <%= link_to 'spreadsheet', @order.spreadsheet_link, class: 'dropdown-item' %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="row card-body">
        <div class="col-md-1"></div>
        <div class="col-md-4">
          <h5 class="card-title">Ship to:</h5>
          <p class="card-text">
            <%= @order.address.contact_name  %><br>
            <%= @order.address.street  %><br>
            <%= @order.address.unit  %>
            <%= @order.address.city  %>, <%= @order.address.state  %> <%= @order.address.zipcode  %><br>
            <%= @order.user.email %><br>
            <% if @order.ship_vendor == 'usps' %>
              <a href="https://tools.usps.com/go/TrackConfirmAction?tLabels=<%= @order.tracking %>" target="_blank"><i class="fa fa-truck fa-xl" aria-hidden="true"></i> Track </a><br>
            <% elsif @order.ship_vendor == 'ups' %>
              <a href="https://www.ups.com/track?loc=en_US&tracknum=<%= @order.tracking %>&requester=WT" target="_blank"><i class="fa fa-truck fa-xl" aria-hidden="true"></i> Track </a>
            <% end %><br>
            <% if current_user.role =='admin'  %>
              $<%= @order.ship_cost %><br>
            <% end %>
          </p>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-3">
          <h5 class="card-title">Details</h5>
          <p class="card-text">
            <button type="button" class="btn btn-info" style="margin-bottom: 2%;">
              Status <span class="badge badge-light"><%= @order.status.upcase %></span>
            </button><br>
            <button type="button" class="btn btn-danger" style="margin-bottom: 2%;">
              Date <span class="badge badge-light"><%= @order.date %></span>
            </button><br>
            <button type="button" class="btn btn-warning" style="margin-bottom: 2%;">
              Shirt Total <span class="badge badge-light"><%= @order.line_items.sum(:shirt_quantity) %></span>
            </button>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true" style="color: #2c3e50;">Overview</a>
        </li>
        <% if current_user.role == 'admin' %>
          <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false" style="color: #2c3e50;">Print</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false" style="color: #2c3e50;">Product</a>
          </li>
        <% end %>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
          <%= render 'overview' %>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <%= render 'print_total' %>
        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
          <%= render 'order_sheet' %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="jumbotron">
    <% if current_user.role == "operator" %>
      <p class="center">Your order is currently processing. You should see approval for your order in 12 - 24 business hours.</p>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated active" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
      </div>
    <% elsif current_user.role == "admin" %>
      <p class="center">Operators original spreadsheet:<br><a href="<%= @order.spreadsheet_link %>" target="_blank"><%= @order.spreadsheet_link %></a></p>
      <br><br><br>
      <%= form_tag import_line_items_path, multipart: true, class: 'center' do %>
        <%= hidden_field_tag :order_id, params[:id] %>
        <%= file_field_tag :file, style: 'margin: auto', class: 'btn btn-default btn-lg' %>
        <br>
        <%= submit_tag "Import Spreadsheet", class: 'btn btn-primary btn-lg' %>
      <% end %>
    <% end %>  
  </div>
<% end %>

<h3>Messages</h3>
<% Message.where(order_id: @order.id).each do |mess| %>
  <div class="card">
    <div class="card-header">
      <%= mess.user.email %> says...
    </div>
    <div class="card-body" style="padding: 1%;">
      <p class="card-text"><%= mess.body %></p>
      <footer class="blockquote-footer"><%= mess.created_at.strftime("%m.%d.%Y %I:%M %P") %></footer>
    </div>
  </div>
<% end %>
<%= render 'messages/form' %>

<%= render 'box_label' %>






