<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hi <%= @order.user.email %></h3>
    <p>
      Order #<%= @order.id %> was shipped via <%= @order.ship_vendor %>
      Here is your tracking number <%= @order.tracking %>
      <%= link_to 'View Order', order_url(@order) %>
    </p>
  </body>
</html>