<table class="card-text table table-condensed">
  <tbody>
    <tr>
      <td class='col-md-2'>BLACK</td>
      <td>
        <div class="progress" style="font-size: 80%; font-weight: 700;">
          <%= (@black_sum / @sum * 100).round(3)  %>%
          <div class="progress-bar progress-bar-striped" role="progressbar" style="width: <%= (@black_sum / @sum).round(3)*100  %>%; " aria-valuenow="<%= (@black_sum / @sum).round(3)*100  %>" aria-valuemin="0" aria-valuemax="100">
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td class='col-md-2'>HTHR GREY</td>
      <td>
        <div class="progress" style="font-size: 80%; font-weight: 700;">
          <%= (@true_sum / @sum * 100).round(3)  %>%
          <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: <%= (@true_sum / @sum).round(3)*100  %>%" aria-valuenow="<%= (@true_sum / @sum).round(3)*100  %>" aria-valuemin="0" aria-valuemax="100">
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td class='col-md-2'>CARBON</td>
      <td>
        <div class="progress" style="font-size: 80%; font-weight: 700;">
          <%= (@carbon_sum / @sum * 100).round(3)  %>%
          <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: <%= (@carbon_sum / @sum).round(3)*100  %>%" aria-valuenow="<%= (@carbon_sum / @sum).round(3)*100  %>" aria-valuemin="0" aria-valuemax="100">
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td class='col-md-2'>WHITE</td>
      <td>
        <div class="progress" style="font-size: 80%; font-weight: 700;">
          <%= (@white_sum / @sum * 100).round(3)  %>%
          <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: <%= (@white_sum / @sum).round(3)*100  %>%" aria-valuenow="<%= (@white_sum / @sum).round(3)*100  %>" aria-valuemin="0" aria-valuemax="100">
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td class='col-md-2'>DK GREEN</td>
      <td>
        <div class="progress" style="font-size: 80%; font-weight: 700;">
          <%= (@green_sum / @sum * 100).round(3)  %>%
          <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: <%= (@green_sum / @sum).round(3)*100  %>%" aria-valuenow="<%= (@green_sum / @sum).round(3)*100  %>" aria-valuemin="0" aria-valuemax="100">
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td class='col-md-2'>ROYAL</td>
      <td>
        <div class="progress" style="font-size: 80%; font-weight: 700;">
          <%= (@royal_sum / @sum * 100).round(3)  %>%
          <div class="progress-bar progress-bar-striped" role="progressbar" style="width: <%= (@royal_sum / @sum).round(3)*100  %>%" aria-valuenow="<%= (@royal_sum / @sum).round(3)*100  %>" aria-valuemin="0" aria-valuemax="100">
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td class='col-md-2'>NAVY</td>
      <td>
        <div class="progress" style="font-size: 80%; font-weight: 700;">
          <%= (@navy_sum / @sum * 100).round(3)  %>%
          <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: <%= (@navy_sum / @sum).round(3)*100  %>%" aria-valuenow="<%= (@navy_sum / @sum).round(3)*100  %>" aria-valuemin="0" aria-valuemax="100">
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td class='col-md-2'>CAROLINA</td>
      <td>
        <div class="progress" style="font-size: 80%; font-weight: 700;">
          <%= (@carolina_sum / @sum * 100).round(3)  %>%
          <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: <%= (@carolina_sum / @sum).round(3)*100  %>%" aria-valuenow="<%= (@carolina_sum / @sum).round(3)*100  %>" aria-valuemin="0" aria-valuemax="100">
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td class='col-md-2'>PURPLE</td>
      <td>
        <div class="progress" style="font-size: 80%; font-weight: 700;">
          <%= (@purple_sum / @sum * 100).round(3)  %>%
          <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: <%= (@purple_sum / @sum).round(3)*100  %>%" aria-valuenow="<%= (@purple_sum / @sum).round(3)*100  %>" aria-valuemin="0" aria-valuemax="100">
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td class='col-md-2'>RED</td>
      <td>
        <div class="progress" style="font-size: 80%; font-weight: 700;">
          <%= (@red_sum / @sum * 100).round(3)  %>%
          <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: <%= (@red_sum / @sum).round(3)*100  %>%" aria-valuenow="<%= (@red_sum / @sum).round(3)*100  %>" aria-valuemin="0" aria-valuemax="100">
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td class='col-md-2'>MAROON</td>
      <td>
        <div class="progress" style="font-size: 80%; font-weight: 700;">
          <%= (@maroon_sum / @sum * 100).round(3)  %>%
          <div class="progress-bar progress-bar-striped" role="progressbar" style="width: <%= (@maroon_sum / @sum).round(3)*100  %>%" aria-valuenow="<%= (@maroon_sum / @sum).round(3)*100  %>" aria-valuemin="0" aria-valuemax="100">
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td class='col-md-2'>HI VIS YELLOW</td>
      <td>
        <div class="progress" style="font-size: 80%; font-weight: 700;">
          <%= (@yellow_sum / @sum * 100).round(3)  %>%
          <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: <%= (@yellow_sum / @sum).round(3)*100  %>%" aria-valuenow="<%= (@yellow_sum / @sum).round(3)*100  %>" aria-valuemin="0" aria-valuemax="100">
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td class='col-md-2'>HI VIS YELLOW</td>
      <td>
        <div class="progress" style="font-size: 80%; font-weight: 700;">
          <%= (@vegas_sum / @sum * 100).round(3)  %>%
          <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: <%= (@yellow_sum / @sum).round(3)*100  %>%" aria-valuenow="<%= (@yellow_sum / @sum).round(3)*100  %>" aria-valuemin="0" aria-valuemax="100">
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td class='col-md-2'>STEEL TOWN GOLD</td>
      <td>
        <div class="progress" style="font-size: 80%; font-weight: 700;">
          <%= (@steel_town_sum / @sum * 100).round(3)  %>%
          <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: <%= (@steel_town_sum / @sum).round(3)*100  %>%" aria-valuenow="<%= (@steel_town_sum / @sum).round(3)*100  %>" aria-valuemin="0" aria-valuemax="100">
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td class='col-md-2'>DK ORANGE</td>
      <td>
        <div class="progress" style="font-size: 80%; font-weight: 700;">
          <%= (@orange_sum / @sum * 100).round(3)  %>%
          <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: <%= (@orange_sum / @sum).round(3)*100  %>%" aria-valuenow="<%= (@orange_sum / @sum).round(3)*100  %>" aria-valuemin="0" aria-valuemax="100">
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>