<p id="notice"><%= notice %></p>
Total: <%= @sum  %><br>
<table class="table table-condensed">
  <tr>
    <th class="col-md-2">Color</th>
    <th class="col-md-6">% of colors vs. total shirts ordered</th>
  </tr>
  <tbody>
    <tr>
      <td>BLACK</td>
      <td>
        <div class="progress">
          <div class="progress-bar progress-bar-striped" role="progressbar" style="width: <%= (@black_sum / @sum).round(3)*100  %>%" aria-valuenow="<%= (@black_sum / @sum).round(3)*100  %>" aria-valuemin="0" aria-valuemax="100">
            <%= (@black_sum / @sum * 100).round(3)  %>%
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>HTHR GREY</td>
      <td>
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: <%= (@true_sum / @sum).round(3)*100  %>%" aria-valuenow="<%= (@true_sum / @sum).round(3)*100  %>" aria-valuemin="0" aria-valuemax="100">
            <%= (@true_sum / @sum * 100).round(3)  %>%
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>CARBON</td>
      <td>
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: <%= (@carbon_sum / @sum).round(3)*100  %>%" aria-valuenow="<%= (@carbon_sum / @sum).round(3)*100  %>" aria-valuemin="0" aria-valuemax="100">
            <%= (@carbon_sum / @sum * 100).round(3)  %>%
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>WHITE</td>
      <td>
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: <%= (@white_sum / @sum).round(3)*100  %>%" aria-valuenow="<%= (@white_sum / @sum).round(3)*100  %>" aria-valuemin="0" aria-valuemax="100">
            <%= (@white_sum / @sum * 100).round(3)  %>%
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>DK GREEN</td>
      <td>
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: <%= (@green_sum / @sum).round(3)*100  %>%" aria-valuenow="<%= (@green_sum / @sum).round(3)*100  %>" aria-valuemin="0" aria-valuemax="100">
            <%= (@green_sum / @sum * 100).round(3)  %>%
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>ROYAL</td>
      <td>
        <div class="progress">
          <div class="progress-bar progress-bar-striped" role="progressbar" style="width: <%= (@royal_sum / @sum).round(3)*100  %>%" aria-valuenow="<%= (@royal_sum / @sum).round(3)*100  %>" aria-valuemin="0" aria-valuemax="100">
            <%= (@royal_sum / @sum * 100).round(3)  %>%
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>NAVY</td>
      <td>
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: <%= (@navy_sum / @sum).round(3)*100  %>%" aria-valuenow="<%= (@navy_sum / @sum).round(3)*100  %>" aria-valuemin="0" aria-valuemax="100">
            <%= (@navy_sum / @sum * 100).round(3)  %>%
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>CAROLINA</td>
      <td>
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: <%= (@carolina_sum / @sum).round(3)*100  %>%" aria-valuenow="<%= (@carolina_sum / @sum).round(3)*100  %>" aria-valuemin="0" aria-valuemax="100">
            <%= (@carolina_sum / @sum * 100).round(3)  %>%
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>PURPLE</td>
      <td>
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: <%= (@purple_sum / @sum).round(3)*100  %>%" aria-valuenow="<%= (@purple_sum / @sum).round(3)*100  %>" aria-valuemin="0" aria-valuemax="100">
            <%= (@purple_sum / @sum * 100).round(3)  %>%
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>RED</td>
      <td>
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: <%= (@red_sum / @sum).round(3)*100  %>%" aria-valuenow="<%= (@red_sum / @sum).round(3)*100  %>" aria-valuemin="0" aria-valuemax="100">
            <%= (@red_sum / @sum * 100).round(3)  %>%
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>MAROON</td>
      <td>
        <div class="progress">
          <div class="progress-bar progress-bar-striped" role="progressbar" style="width: <%= (@maroon_sum / @sum).round(3)*100  %>%" aria-valuenow="<%= (@maroon_sum / @sum).round(3)*100  %>" aria-valuemin="0" aria-valuemax="100">
            <%= (@maroon_sum / @sum * 100).round(3)  %>%
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>HI VIS YELLOW</td>
      <td>
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: <%= (@yellow_sum / @sum).round(3)*100  %>%" aria-valuenow="<%= (@yellow_sum / @sum).round(3)*100  %>" aria-valuemin="0" aria-valuemax="100">
            <%= (@yellow_sum / @sum * 100).round(3)  %>%
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>STEEL TOWN GOLD</td>
      <td>
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: <%= (@steel_town_sum / @sum).round(3)*100  %>%" aria-valuenow="<%= (@steel_town_sum / @sum).round(3)*100  %>" aria-valuemin="0" aria-valuemax="100">
            <%= (@steel_town_sum / @sum * 100).round(3)  %>%
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>DK ORANGE</td>
      <td>
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: <%= (@orange_sum / @sum).round(3)*100  %>%" aria-valuenow="<%= (@orange_sum / @sum).round(3)*100  %>" aria-valuemin="0" aria-valuemax="100">
            <%= (@orange_sum / @sum * 100).round(3)  %>%
          </div>
        </div>
      </td>
    </tr>

  </tbody>
</table>


